
nav {
 margin: 0;
 top: 0;
 padding: 20px;
 position: fixed;
 display: flex;
 width: 100%;
 background-color: #ff029e00;
 transition: background-color 0.3s ease;
 gap: 30px;
 z-index: 9999;

}
.navbar.scrolled {
background-color: #0f0f0f;
}

nav a {

text-decoration: none;
color: white;
font-weight: bold;
transition: color 0.3s;
}

nav a:hover {
    color: #F2561D;
}

header {
    display: block;
    unicode-bidi: isolate;
    overflow: hidden;
    box-sizing: border-box;
}
header .header-contenedor{
    position: relative;
    min-height: auto;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    padding: 100px 15px 250px;
    width: 100%;
}

header h1{

    font-size: 52px;
    margin-top: 20px;


}
.fotoPerfil{
    border-radius: 40%;   
    width: 250px;
    height: auto;

}

.imagenes-header{
    filter: brightness(0) invert(1);
    height: auto;
    width: 125px;
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
}
.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto equivale al 'background-size: cover' */
    z-index: -1;       /* Lo manda al fondo de todo */
}
.separador_header{
    display: block;
    position: relative;
    width: 100%;
    height: 3px;
    margin: 20px 0;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.3), rgba(255,255,255,0));
    border: 0;
}

.imagen-interactiva-header {
    transition: all 0.3s ease;
}

.imagen-interactiva-header:hover {
    transform: scale(1.2); 
    opacity: 0.7; 
}


